.item-page-container {
    display: flex;
    justify-content: space-between;
}

.item-page-image {
    flex: 2;
    padding: 0em 2em;
}

.item-page-image img {
    border: 2px solid  #ff9f1c;
    border-radius: 1em;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.item-page-content-container {
    padding: 0em 2em;

    flex: 3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-page-content-container h1 {
    font-size: 1.6em;
}

.item-page-content-container h2 {
    font-size: 1.2em;
}

.item-page-name {
    padding: .6em 0 0;
}

.item-page-info {
    flex: 1;

    background: #f7f7f7;
    padding: 0 1em;
    border: 2px solid  #ff9f1c;
    border-radius: 1em;
    margin: 0 0 1em;
}

.item-page-reviews {
    flex: 1;

    background: #f7f7f7;
    padding: 0 1em;
    border: 2px solid  #ff9f1c;
    border-radius: 1em;
    margin: 0 0 1em;
}

.item-page-rent {
    flex: 1;
    margin: 0.3em 0 -0.3em 0;
}

.item-page-management {
    flex: 1;
    margin: 0.3em 0 -0.3em 0;
}

.item-page-form-field {
    margin: 0 1em 0 0;
}

.item-page-rent form {
    display: inline;
}

.item-page-rent-button {
    background-color: #ff9f1c;
    color: white;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 12px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.item-page-set-unavailable {
    background-color: green;
    color: white;
    font-size: 1.2em;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 12px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.item-page-set-available {
    background-color: red;
    color: white;
    font-size: 1.2em;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 12px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.edit-button {
    background-color: #ff9f1c;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.cancel-edit {
    background-color: red;
    color: white;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.confirm-edit {
    background-color: green;
    color: white;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.edit-box {
    width: 400px;
}

#user_profile_link {
  color: #2ec4b6;
}

#user_profile_link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.item-page-error {
    color: red;
}