#reviews {
  border-radius: 8px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  min-width: 100%;
  margin-bottom: 50px;
}

#review_container {
  height: auto;
}

#new_review {
  width: 80%;
}
#reviewer_name {
  float: left;
  margin-left: 10%;
}
