#reviews {
  border-radius: 8px;
  min-width: 100%;
  margin-bottom: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

#review_container {
  height: auto;
  padding: 20px 0 20px 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

#new_review {
  width: 80%;
}
#reviewer_name {
  margin-right: 60%;
  color: #2ec4b6;
  text-decoration: underline;
}
#review_content {
  font-size: 80%;
  border-left: 1px solid #2ec4b6;
  border-right: 1px solid #2ec4b6;
  margin-right: 60px;
  margin-left: 60px;
  word-break: break-all;
  padding: 40px 40px 40px 40px;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  align-items: center;
  margin: 0 auto;
}
#how_long_ago {
  margin-left: 60%;
}
#review-title {
  text-decoration: underline;
}
#new_review_input {
  padding: 5px 5px 5px 5px;
}
input[type=text], textarea, select {
  padding: 10px 10px 10px 10px;
  margin: 0 3px 10px 3px;
  border-radius: 6px;
  border-width: thin;
}
#submit {
  margin-top: 20px;
  padding: 6px 20px 6px 20px;
}
