.header {
  padding: 0.5em;
  font-size: 30px;
  /*margin: 1em;*/
  background: #ffffff;
  color: #2ec4b6;
  text-align: center;
}

.navBar {
  /*padding: 1em;*/
  /*margin: 1em;*/
  /*display: flex;*/
  /*justify-content: space-around;*/
  background: #cbf3f0;
  color: black;
  margin-bottom: 2em;
  box-shadow: 2px -1px 5px #2ec4b6;
}

.navButton {
  background-color: #ffffff;
  color: black;
  font-size: 20px;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 15px;
  border: 3px solid #ff9f1c;
  transition-duration: 0.2s;
  display: inline-block;
}

.navButton:hover {
  /*background-color: #a53c07;*/
  border: 3px solid #2ec4b6;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1em;
  /*margin: 1em;*/
  display: flex;
  justify-content: space-around;
  background: #cbf3f0;
  color: black;
}

.searchBar {
  padding: 1em;
  margin: 1em;
  display: flex;
  justify-content: space-evenly;
}

.arial {
  font-family: Arial;
}

.active {
  color: black;
  background-color: white;
  border: 3px solid #2ec4b6;
}

.floatRight {
  float: right;
}

.SubmissionForm {
  background: #fff;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SubmissionForm section {
  text-align: left;
  margin: 1em 0;
}

.SubmissionForm input[type=text] {
  width: 400px;
}

.SubmissionForm button {
  margin: 0.5em;
  padding: 0.5em;
  background: black;
  color: #e7530b;
  display: inline-block;
  cursor: pointer;
  border-radius: 12px;
  outline: none;
  border: none;
}

.SubmissionForm button:hover {
  color: #fff;
}

.SubmissionForm button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.SubmissionForm .error {
  font-size: 90%;
  color: #f33;
}

.centered {
  text-align: center;
}

.noUnderline {
  text-decoration: none;
}

.highlight {
  color: #ff9f1c;
}

/* RAW HTML ELEMENTS, THEESE COME LAST */

body {
  margin: 0px !important;
  font-family: 'Inter', Arial, sans-serif;
  padding-bottom: 10em;
}

main {
  width: 800px;
  margin: 2em auto;
  text-align: center;
}



.cityCard{
  padding: 1em;
  border: 2px solid #ff9f1c;
  margin: 1em;
  border-radius: 12px;
  transition: 0.2s;
}

.chosenCityCard{
  padding: 1em;
  border: 2px solid #2ec4b6;
  margin: 1em;
  border-radius: 12px;
}

.cityCard:hover{
  border: 2px solid #2ec4b6;
  transition: 0.5s;
}

.cityParent{
  width: 500px;
  display: flex;
}

/*######### DropButton ##########*/
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  /*background-image: url('searchicon.png');*/
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

#cities_section {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
}

#cityCard {
  width: 25%;
}

input[type=text], textarea, select, input[type=date] {
  padding: 10px 10px 10px 10px;
  margin: 0 3px 10px 3px;
  border-radius: 6px;
  border-width: thin;
}
input[type=submit] {
  margin-top: 20px;
  padding: 6px 20px 6px 20px;
}
